doctype html
html
  head
    title Sample App
    link(href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600', rel='stylesheet')
    if initialState
      script.
        window.__INITIAL_STATE__ = !{JSON.stringify(initialState)}
  body
    #root
    script(src="#{scriptUrl}")
