@import 'src/styles/_variables.scss';

$input-padding: 12px;

:local {
  .candidate-form {
    display: table;
    width: 100%;
    padding-left: 10px;
  }

  .save-button {
    cursor: pointer;
    background: $medium-blue;
    padding: $input-padding;
    text-align: center;
    max-width: 200px;
    color: white;
    position: fixed;
    right: 30px;
    top: 80px;
    z-index: 10;
  }
}
