@import 'src/styles/_variables.scss';

:local {
  .candidate-form {
    display: table;
    width: 100%;
    padding-left: 10px;
  }

  .save-button {
    cursor: pointer;
    background: #618B36;
    padding: 14px 20px;
    text-align: center;
    max-width: 200px;
    color: white;
    position: fixed;
    right: 30px;
    top: 80px;
    z-index: 10;
    box-shadow: 4px 4px 10px 0px rgba(168,168,168,1);
  }
}
