@import 'src/styles/_variables.scss';

:local {
  .ballot-candidate {
    padding: 5px 0;
  }

  .name {
    font-weight: 500;
    cursor: pointer;
  }

  .party {
    font-style: italic;
    font-size: smaller;
  }
}
