@import 'src/styles/_variables.scss';

:local {
  .container {
    position: relative;
    margin-top: 30px;
  }

  .container-background {
    position: absolute;
  }

  .header {
    position: relative;
    display: flex;
    align-items: center;
    padding: 0 12px;
    background: $dark-grey;
    color: $white;
    height: 50px;

    @media (max-width: 450px) {
      height: auto;
    }
  }

  .icon {
    position: absolute;
    left: 12px; bottom: 0;
  }

  .title-container {
    font-size: 24px;
    margin-left: 93px;
  }

  .title {
    font-weight: 600;
    margin-right: 12px;
  }

  .sub-title {
    font-weight: 300;
    display: inline-block;
  }

  .contents {
    padding: 20px;
    background: $light-grey;
  }

  .toggle-map-link {
    text-decoration: underline;
  }

  // For the statewide power ballot
  .instructions {
    background: $light-grey;
    padding: 8px 20px;
  }
}
