@import 'src/styles/_variables.scss';

:local {
  .container {
    display: flex;
    padding: 5px 0;
  }

  .photo-container {
    margin-right: 8px;
    cursor: pointer;
    img {
      width: 64px;
      height: auto;
      max-height: 90px;
    }
  }

  .name {
    font-weight: 500;
    cursor: pointer;
    font-size: 18px;
    margin-bottom: 4px;
  }

  .party {
    font-style: italic;
    font-size: smaller;
  }

  .modal-container {
    width: 90vw !important;
    max-width: 750px;
  }
}
