@import 'src/styles/_variables.scss';

:local {
  .container {
    position: relative;
  }

  .edit-link {
    position: absolute;
    right: 0;
    top: 0;
  }

  .candidate-name {
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 30px;
  }

  .incumbent-text {
    margin-left: 1em;
    font-size: 14px;
    font-weight: 400;
    font-style: italic;
  }

  .content {
    display: flex;
  }

  .photo-container {
    margin-right: 20px;
    img {
      max-width: 150px;
      height: auto;
      max-height: 180px;
    }
  }

  .section-title {
    text-transform: uppercase;
    font-size: 8px;
    font-weight: 700;
    margin-bottom: 0.3em;
  }

  .separator {
    flex: 1 100%;
    background-color: black;
    height: 1px;
    margin: 15px 0;
  }

  .section {
    display: flex;
    @media all and (max-width: 600px) {
      display: block;
    }
  }

  .column {
    flex-basis: 50%;
    margin-bottom: 10px;
  }
}
