@import 'src/styles/_variables.scss';

:local {
  .header {
    font-size: 18px;
    font-weight: 600;
    color: $white;
    background: $medium-grey;
    padding: 8px 20px;
  }

  .candidate-list {
    background: $light-grey;
    padding: 8px 20px;
  }
}
