@import 'src/styles/_variables.scss';

$input-padding: 12px;

.container {
  background: $medium-blue;
  color: $white;
  padding: 20px 20px 30px;
  box-shadow: 4px 4px 10px 0px rgba(168,168,168,1);
  a {
    color: $white;
  }
}

.feature {
  font-size: 24px;
  font-weight: 600;
}

.input-container {
  display: flex;
  padding-top: 10px;
}

.input {
  display: inline-block;
  flex: 1;
  flex-basis: 350px;
  outline: none;
  padding: $input-padding;
}

.go-button {
  display: inline-block;
  cursor: pointer;
  background: $dark-grey;
  padding: $input-padding;
}

.instructions {
  margin-top: 15px;
  font-style: italic;
}
