.container {
}

.body {
  display: flex;
  flex-flow: row wrap;
  margin-top: 40px;
}

.main-section {
  max-width: 490px;
  margin-bottom: 12px;
}
.sidebar-container {
  margin-right: 20px;
  margin-bottom: 12px;
  flex-basis: 200px;
  @media (max-width: 450px) {
    flex: 1;
  }
}
