@import 'src/styles/_variables.scss';

.container {
  max-width: 100px;
  margin: 0 8px;
  text-decoration: none;
  color: black;
  margin-bottom: 10px;
  &:first-child {
    margin-left: 0;
  }
}

.icon {
  margin-bottom: 8px;
}

.title {

}
