@import 'src/styles/_variables.scss';
@import 'src/styles/_mixins.scss';

.container {
  p {
    margin: 0;
  }
}

.header {
  @include underline-header();
  margin: 0 0 10px;
}

.event-title {
  font-size: 13px;
  font-weight: 600;
}

.separator {
  padding-top: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid $key-dates-rule-divider;
}

.general-election {
  display: flex;
  justify-content: space-between;
}

.countdown-container {
  padding: 10px 16px;
  text-align: center;
  background: $medium-grey;
  color: $white;
}

.countdown-number {
  font-size: 26px;
  font-weight: 700;
}
.countdown-days {
  font-size: 11px;
  font-weight: 400;
}
