@import '../styles/_variables.scss';

:local {
  .candidate-name {
    font-weight: 600;
    font-size: 24px;
  }

  .content {
  }

  .section-title {
    text-transform: uppercase;
    font-size: 12px;
  }

  .separator {
    flex: 1 100%;
    background-color: black;
    height: 1px;
    margin: 5px 0;
  }

  .section {
    display: flex;
    @media all and (max-width: 600px) {
      display: block;
    }
  }

  .column {
    flex-basis: 50%;
    margin-bottom: 10px;
  }
}
