@import '../styles/_variables.scss';

:local {
  .header {
    font-weight: 500;
    color: $white;
    background: $medium-grey;
    padding: 8px 20px;
  }

  .candidate-list {
    background: $light-grey;
    padding: 8px 20px;
  }
}
