@import 'src/styles/_variables.scss';

:local {
  .container {
    background: $dark-grey;
    color: $white;
    padding: 30px 0 15px;
    font-size: 13px;
    font-weight: 500;
  }

  .hawaii-text {
    font-size: 11px;
    font-weight: 700;
  }

  .logo {
    margin: 8px 0;
    fill: white;
    width: 257px;
    height: 43px;
  }

  .subtext {
    max-width: 300px;
    font-weight: 600;
    line-height: 1.5;
  }

  .row {
    position: relative;
  }

  .vote-flag-container {
    position: absolute;
    top: -30px; right: 50px;
    @media (max-width: 575px) {
      display: none;
    }
  }
}
